<phpunit bootstrap="tests/bootstrap.php">
    <testsuite name="Anti-XSS Test Suite">
        <directory>tests</directory>
    </testsuite>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
    <logging>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>
</phpunit>
