<phpunit bootstrap="tests/bootstrap.php">
    <testsuite name="Anti-XSS Test Suite">
        <directory>tests</directory>
    </testsuite>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>
