<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Anti-XSS Test Suite">
            <directory>tests</directory>
            <exclude>tests/PayloadsAllTheThingsTest.php</exclude>
        </testsuite>
        <testsuite name="PayloadsAllTheThings">
            <file>tests/PayloadsAllTheThingsTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
</phpunit>
